{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Collection Details</h2>
    <div class="card mb-4">
        <div class="card-body">
            <p><strong>Customer:</strong> {{ collection.customer.name }}</p>
            <p><strong>Worker:</strong> {{ collection.worker.user.username }}</p>
            <p><strong>Amount:</strong> GH₵{{ collection.amount }}</p>
            <p><strong>Date:</strong> {{ collection.date|date:"Y-m-d H:i A" }}</p>
        </div>
    </div>
    <a href="{% url 'all_collections' %}" class="add__button">Back to Collections</a>
</div>
{% endblock %}