/* Resetting default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4169e1;
  --primary-background: #4169e1e1;
  --border-color: #007bff40;
  --primary-color-light: #7a8589;
  --text-color: #4444;
}

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
}

.main__wrapper {
  margin-top: 5.5rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--text-color) !important;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 10px 6px var(--primary-color);
}

.fa-solid,
.fa-regular {
  color: var(--primary-color);
  font-size: 1.3rem;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.footer {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column;
  }
}

.border__bottom {
  border-bottom: 1px solid var(--primary-background);
}

.border__top {
  border-top: 1px solid var(--primary-background);
}

.card__border {
  border-color: var(--primary-color) !important;
}

.table thead th {
  border-bottom: 1px solid var(--primary-background) !important;
  border-color: var(--primary-background) !important;
}

tr {
  border-color: var(--primary-background) !important;
}

.table-bordered {
  border: 1px solid var(--primary-background) !important;
}
