/* Styles for screens 320px or below */
@media (max-width: 320px) {
}

/* Styles for screens 640px or above */
@media (min-width: 640px) {
  .logo__text {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

/* Styles for screens 768px or above */
@media (min-width: 768px) {
  .nav__bar__btn__div {
    display: none;
  }

  .user__detail__desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .user__detail__desktop > a {
    color: #111 !important;
    font-weight: normal;
  }

  .auth__status {
    border: 0;
    outline: 0;
    background-color: #fff;
  }
}

/* CSS for screens with a minimum width of 768px to 991px */
@media (min-width: 1024px) {
}

/* CSS for screens with a minimum width of 992px to 1199px */
@media (min-width: 1280px) {
}
