.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.sticky__nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.user__detail {
  display: none;
}

.user__detail__mobile {
  /* display: none; */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  /* width: 100%; */
  /* padding: 0rem 1rem; */
  /* padding: 0.8rem 0.4rem; */
  z-index: 1;
}

.login__div__mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.8rem 0rem;
}

.login__div__mobile > * {
  margin-bottom: 0.8rem;
  margin-left: 0.3rem;
}

.login__div__mobile a,
.login__div__mobile a:hover {
  text-decoration: none;
  color: #000 !important;
  font-weight: normal;
}

.nav__bar__btn {
  border: 1px solid var(--primary-color);
  background: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}
