{% extends 'base.html' %}
{% block content %}
<div class="container mt-8 admin__header">
  <div class="d-flex justify-content-between">
    <h1 class="admin__title">Admin Dashboard</h1>
    <a class="add__button button__padding" href="{% url 'deduct_balance' %}">Withdraw Money</a>
  </div>

  <!-- Summary Cards -->
  <div class="row my-4">
    <div class="col-md-4">
      <div class="card card__border text-center shadow-lg">
        <div class="card-body">
          <h5>Total Customers</h5>
          <h2 class="text-primary">{{ total_customers }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card__border text-center shadow-lg">
        <div class="card-body">
          <h5>Total Workers</h5>
          <h2 class="text-success">{{ total_workers }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card__border text-center shadow-lg">
        <div class="card-body">
          <h5>Total Pending Customers</h5>
          <h2 class="text-danger">{{ total_pending_customers }}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Financial Overview -->
  <div class="row my-4">
    <div class="col-md-6">
      <div class="card card__border text-center shadow-lg">
        <div class="card-body">
          <h5>Total Weekly Collections</h5>
          <h2 class="text-primary">GH₵{{ total_weekly_collections }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card__border text-center shadow-lg">
        <div class="card-body">
          <h5>Total Amount Deducted</h5>
          <h2 class="text-danger">-GH₵{{ total_deductions }}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Total Balance -->
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card card__border text-center shadow-lg">
        <div class="card-body">
          <h5>Total Balance (Company Account)</h5>
          <h2 class="text-success">GH₵{{ total_balance }}</h2>
        </div>
      </div>
    </div>
  </div>

 
</div>


{% endblock %}
