{% load static %}
<nav class="nav__bar shadow">
  <!-- logo -->
  <div>
    <a href="{% url 'worker_dashboard' %}" class="logo">
      <img src="{% static 'img/logo.webp' %}" alt="">
      <span class="logo__text">Dogmastarventur</span>
    </a>
  </div>

  <!-- user tablet to Desktop -->
  <div class="user__detail__desktop">
    {% if user.is_authenticated %}
    <a href="{% url 'customer_list' %}" class="logo">
      <i class="fa-solid fa-users"></i>
      Customers
    </a>
    <a href="{% url 'weekly_collections' %}" class="logo">
      <i class="fa-solid fa-book"></i>
      Collections
    </a>
    <form class="" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="auth__status">
        <i class="fa-solid fa-power-off"></i>
        Logout</button>
    </form>
    {% else %}
    <div class="">
      <i class="fa-solid fa-user-lock auth__status"></i>
      <a href="{% url 'login' %}" class="auth__status">Login</a>
    </div>
    {% endif %}
  </div>

  <!-- user mobile -->
  <div class="user__detail__mobile shadow">
    {% if user.is_authenticated %}
    <div class="login__div__mobile">
      <p class=" mr-4">
        <i class="fa-solid fa-user"></i>
        <span class="auth__name">Welcome {{ user.username }}</span>
      </p>
      <a href="{% url 'customer_list' %}" class="">
        <i class="fa-solid fa-users"></i>
        Customers
      </a>
      <a href="{% url 'weekly_collections' %}" class="">
        <i class="fa-solid fa-dollar"></i>
        Collections
      </a>
      <form class="" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="auth__status__mobile"> <i class="fa-solid fa-power-off auth__status__mobile"></i>
          Logout</button>
      </form>
    </div>
    {% else %}
    {% comment %}
    <div class="">
      <i class="fa-solid fa-user-lock auth__status__mobile"></i>
      <a href="{% url 'login' %}" class="auth__status__mobile">Login</a>
    </div>
    {% endcomment %}
    {% endif %}
  </div>

  <div class="nav__bar__btn__div">
    <button class="nav__bar__btn" onclick="toggleNav()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</nav>